@media (max-width: 768px) {
  body 
}

.home{
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	background: url("https://cdn-images-1.medium.com/max/2000/1*buAlXkwPmNAOOG23fX6rFw.jpeg")no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

.price{
    padding:120px 0 90px;
    background-color: blue;
    min-height: 200px;
}

.location{
    padding:120px 0 90px;
    background-color: grey;
    min-height: 200px;
}

.contact-us{
    padding:120px 0 90px;
    background-color: green;
    min-height: 200px;
}

nav {
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;

  @media (max-width: 650px) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    
    li {
     padding-bottom: 5px; 
    }
  }
  
  ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }
}

    @media only screen and (min-width: 768px) {
      p {padding: 30px;}
    }